.img {
    width: 10em;
    position: relative;
    left: 1em;
    top: .3em;
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    border-bottom: #0069af 1px solid;
    background-color: white;
    display: inline;
    z-index: 5;
}

header ul {
    position: relative;
    display: inline-block;
    left: 52em;
    top: -2em;
}

header ul li a.btn {
    position: relative;
    left: 2em;
    text-decoration: none !important;
    font-size: 1.1em !important;
    font-weight: 600 !important;
    color: rgb(255, 255, 255) !important;
    text-transform: uppercase !important;
    background: #0069af !important;
    border: none !important;
}

header ul li a.btn-2 {
    position: relative;
    text-decoration: none !important;
    font-size: 1.1em !important;
    font-weight: 600 !important;
    color: rgb(193, 0, 231) !important;
    text-transform: uppercase !important;
    border: 2px solid rgb(193, 0, 231) !important;
    padding: 5px 20px;
    left: 15em;
    top: -2.3em;
    border-radius: 5px;
    transition: .5s;

    &:hover {
        background-color: rgb(193, 0, 231);
        color: white !important;
    }
}

header ul li {
    list-style: none;
}

.offcanvas-body {
    position: relative;
    left: 2em;
}

.offcanvas-body .span svg {
    width: 2em;
    height: 2em;
    color: green;
}

.offcanvas-body .span a {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
}

.offcanvas-body .span-2 svg {
    width: 2em;
    height: 2em;
    color: rgb(94, 31, 182);
    position: relative;
    top: 1.5em;
}

.offcanvas-body .span-2 a {
    position: relative;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
    left: .5em;
    top: 1.5em;
    color: rgb(174, 0, 255);
    transition: .3s;
}

.offcanvas-body .span-2 a:hover {
    color: rgb(0, 195, 255);
}

.offcanvas-body .span-3 {
    position: relative;
    top: 1.5em;
}

.offcanvas-body .span-3 a {
    color: rgb(255, 123, 0);
}

.offcanvas-body .btn-4 {
    position: relative;
    top: 12em;
    padding: 10px;
    width: 90%;
    border: none;
    background: rgb(0, 183, 255);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.offcanvas-body .btn-4 span svg {
    position: relative;
    width: 1.5em;
    height: 1.5em;
}

.main {
    margin-top: 5em;
}

.main .main-1 img {
    object-fit: cover;
    width: 100%;
    height: 87.3vh;
    filter: brightness(50%);
}

.main .main-1 h1 {
    margin-top: -6em;
    color: white;
    font-size: 5em;
    width: 51.5%;
    margin-left: 8em;
    position: absolute;
}

.main .main-1 h6 {
    margin-top: -34em;
    color: rgb(230, 230, 230);
    font-size: 1em;
    width: 51.5%;
    margin-left: 40.5em;
    position: absolute;
}

.main .main-1 span {
    position: relative;
    display: inline-block;
    width: 5em;
    height: .1em;
    background: rgb(197, 118, 0);
    left: 69.5em;
    top: -34.35em;
}

.btn-a {
    text-decoration: none;
}

.btn-boglanish {
    position: relative;
    padding: 12px 45px;
    border-radius: 100px;
    left: 1em;
    top: -2.5em;
    background: #29a5ca;
    border: none;
    overflow: hidden;
}

.btn-boglanish .text {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: 500;
    transition: .5s;
}

.btn-boglanish .bg-hoverbgd {
    position: absolute;
    width: 16.4em;
    border-radius: 100px;
    height: 3.25em;
    top: 0;
    left: -17em;
    background: blue;
    transition: .5s;
}

.btn-boglanish:hover .bg-hoverbgd {
    position: absolute;
    left: 0;

}

.btn-boglanish:hover .text {
    color: white !important;
}

.btn-boglanish-2 {
    position: relative;
    left: 3em !important;
    background: rgb(0, 121, 0);
}

.btn-boglanish-2 .text-2 {
    color: white;
}

.btn-boglanish-2 .bg-hover {
    background: rgb(0, 196, 0);
}


.second-box {
    height: 50vh;
    width: 95%;
    position: relative;
    left: 2.5em;
}

.second-box .bg-img img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
}

.second-box .top {
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 1;
    background: #b8b8b8a6;
}

.second-box .top:hover {
    .h1 {
        transform: scale(1.03);
    }
}

.second-box .top .h1 {
    color: rgb(230, 168, 0) !important;
    transition: .5s;
}

.second-box .malumot {
    position: absolute;
    background: rgba(66, 255, 138, 0.548);
    height: 85vh;
    width: 100%;
    top: 6em;
}

.second-box .malumot .h1 {
    width: 85%;
    left: 2.5em;
    top: .4em;
    line-height: 1.5em;
    font-size: 3em;
    position: relative;
    color: white;
}

.third-box {
    height: 100vh;
    margin-top: 20.5em;
}

.third-box .top {
    position: absolute;
    width: 100%;
    height: 5em;
    background: #e3fbff;
    color: rgb(202, 35, 207);
    text-transform: uppercase;
}

.third-box .row {
    position: relative;
    left: 7em;
}

.third-box .row .col {
    position: relative;
    width: calc(100% / 3);
    height: 100%;
    top: 7em;
}

.third-box .row .col .sabab img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    position: relative;
}

.third-box .row .col .bottom {
    background: #4acfc4;
    padding: 10px;
}

.third-box .row .col .bottom span {
    margin-left: 9em;
}

.third-box .row .col .bottom .span img {
    width: 3em;
    animation: animeRoll 2s infinite linear;
}

.third-box .row .col .bottom span img {
    width: 3em;
    animation: animeFadeUp 2s infinite linear;
}

@keyframes animeRoll {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes animeFadeUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.four-box {
    height: 100vh;
}

.four-box .top {
    position: relative;
    top: 5em;
    background: #36b802;
    padding: 10px;
    color: orange;
}

.four-box .carousel {
    position: relative;
    top: 7em;
}

.carousel-item img {
    position: relative;
    height: 30em;
    width: 5em;
    object-fit: cover;
    filter: brightness(70%);
}

.carousel-caption h5 {
    color: rgb(182, 148, 0);
}

.carousel-caption p {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.five-box .top {
    position: relative;
    top: 5em;
    background: #cc00ff;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.five-box .accordion {
    position: relative;
    top: 7em;
}

.five-box .accordion-header .accordion-button {
    font-size: .7em !important;
}

.six-box {
    height: 100vh;
    width: 100%;
    background: rgb(61, 61, 61);
    position: relative;
    top: 10em;
}

#map {
    position: relative;
    top: 10em;
}

.six-box .top {
    position: relative;
    top: 7.5em;
    background: #cc00ff;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.six-box .row .col span {
    display: block;
    width: 70%;
}

.six-box .row .col span svg {
    width: 2.5em;
    height: 2.5em;
    color: rgb(16, 0, 156);
    top: 15em;
    left: 5em;
    position: relative;
    z-index: 1;
}

.six-box .row .col span a {
    position: relative;
    color: rgb(16, 0, 156);
    text-decoration: none;
    top: 10em;
    left: 5em;
    font-size: 1.5em;
    transition: .5s;
    text-align: start !important;
}

.six-box .row .col span a:hover {
    color: rgb(133, 86, 0);
}

@media only screen and (max-width:1326px) {
    .six-box {
        height: 110vh;
    }

    .main .main-1 img {
        width: 85em;
    }

    .second-box .bg-img img {
        width: 78.6em;
    }

}

@media only screen and (max-width:1200px) {
    .second-box {
        left: -1em;
    }

    .second-box .top {
        width: 78.5em;
    }

    .second-box .malumot {
        width: 98.3em !important;
        font-size: .8em;
        top: 6.5em;
    }

    .second-box .malumot h1 {
        left: -1em;
        position: relative;
    }

    header ul li a.btn {
        position: relative;
        left: -5em;
    }

    header ul li a.btn-2 {
        position: relative;
        left: 5em;
    }

    .offcanvas {
        position: fixed;
        left: 50em;
        height: auto;
    }

    .third-box .row {
        left: 3em;
        position: relative;
    }
}

@media only screen and (max-width:1000px) {
    .main .main-1 img {
        width: 75em;
    }

    .second-box .top {
        width: 76em;
    }

    .second-box .bg-img img {
        width: 76em;
    }

    .second-box .malumot {
        width: 95em !important;
    }

    .third-box .top {
        width: 75em;
    }

    .third-box .row {
        left: 10em;
    }

    .four-box .top {
        width: 75em;
    }

    .four-box .carousel {
        left: 6em;
    }

    .five-box .top {
        width: 75em;
    }

    .five-box .accordion {
        width: 75em;
    }

    .six-box {
        width: 75em;
    }
}

@media only screen and (max-width: 991px) {
    .third-box .row {
        left: 15em;
    }

    .third-box .row .col {
        width: 20em;
    }

    .third-box .row .i-3 {
        position: relative;
        top: 10em;
    }

    .four-box {
        position: relative;
        top: 35em;
    }

    .five-box {
        position: relative;
        top: 45em;
    }

    .six-box {
        top: 55em;
    }

    header {
        width: 77em;
    }

    header .menu {
        display: none;
    }

    .offcanvas {
        left: 51em;
    }
}

@media only screen and (max-width: 768px) {
    .offcanvas {
        left: 50em;
    }
    .carousel{
        position: relative;     
        left: 13em !important;
    }
    .accordion{
        width: 70em !important;
    }
    #map{
        left: -5em;
        top: 7em;
    }
}

@media only screen and (max-width: 576px) {}